
@media screen and (max-width: 768px) {
body{
    background-color: rgb(41, 41, 41);
    font-family: "Quicksand", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 0;
    color: #ffffff;
    margin : 0;
}

main{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-grow:1;

}

section {
    padding: 1em;
    background-color: #212121;
    width: 92%;

}

.sectionTitle{
    text-align: center;
    font-size:1.5em;
    margin: 0 auto;
    color: #ffffff
}


#bookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#searchBook{
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookForm .bookFormContent{
  display: flex;
  flex-direction: row;
  width:100%;
}

.bookFormContent label{
    width: 15%;
    margin: 0.5em;

}

.bookFormContent #bookFormTitle,
.bookFormContent #bookFormAuthor,
.bookFormContent #bookFormYear
    {
    flex-grow: 1;
}

label[for="bookFormIsComplete"] {
    width: 120px;
}

input[type="checkbox"] {
    background-color: aliceblue;
    margin-left:2.5em;
    width: 25px;
    height: 35px;
}


input{
    margin: 0.5em;

}

#bookFormSubmit {
    margin-bottom: 1em;
    align-self: center;
    border-radius: 999px;
    padding: 0.5em;
}

#incompleteBookList {
    display:flex;
    flex-direction: column;
    gap:5px;
}

#incompleteBookList div{
    display: flex;
    flex-wrap: wrap;
}

